.navbar {
  width: 100%;
  height: 80px;
  background-color: pink;
  display: flex;
  align-items: center;
  padding: 0 20px; 
}

.navbarTitle {
  display: flex;
  color: black;
  font-size: 20px;
  margin-right: 20px; 
}

.navbarLogo {
  flex: 1; 
  display: flex;
  justify-content: center; 
}

.navbarLogo img {
  height: 40px; 
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 25px;
}
